<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link rel="stylesheet" href="./style.css" />

</head>
<body>
<h3>欢迎来到对话室，请选择房间:</h3>
<div class="talk">
    <ul class="room">
    <li id="room_1"><a href="/room/room_1">1号房间</a></li>
    <li id="room_2"><a href="/room/room_2">2号房间</a></li>
    <li id="room_3"><a href="/room/room_3">3号房间</a></li>
    <li id="room_4"><a href="/room/room_4">4号房间</a></li>
    <li id="room_5"><a href="/room/room_5">5号房间</a></li>
    </ul>
</div>
</body>
</html>